###############################################################################
## After you launch your environment, set unique values for these properties
## using the EB CLI's 'eb setenv' command, or the software settings screen in
## Configuration menu for your environment in the Elastic Beanstalk management
## console. Settings using these methods will override the values set in this
## file, and will not be visible in your source code.
###############################################################################

option_settings:
  aws:elasticbeanstalk:application:environment:
    WP_ENV: ''
    DB_NAME: ''
    DB_USER: ''
    DB_PASSWORD: ''
    DB_HOST: ''
    WP_HOME: ''
    WP_SITEURL: ''
    AUTH_KEY: '^C?nH]k:I-23_+b$xHCV(5zLp(w4QaX#K;rYGvDs;*HxESg6bp@OYZw;rouV$^u*'
    SECURE_AUTH_KEY: ':H#S+Eys(i+WsMCJ;f5_EYfg-@F}?`L6/1Man%/@XZ}M*J9+-J1[VTy#Ycwi=iTj'
    LOGGED_IN_KEY: '+=2JzFR=|rr~H+r!)Kd+}+_-wTR=NiS2*dKtO6T2S:HD WhHhw%5ZO3VMRI _4|C'
    NONCE_KEY: '#uKw+BY?rA*<@Zd|T6-`&o!atoPp|EdDX,*k%2:5^{x-SLOCInA#%^DzvW[RDa-M'
    AUTH_SALT: 'JzSgO0oAVkQke|_3G-VP:=Nz%p)*xj#@uBF3vR~*.a}2})0)tl~F5?D0}SF!Az~]'
    SECURE_AUTH_SALT: 'H[oa7*^S``bhE4|?03J+fNN5^I46{4b[[t7%FaAAvn;fx$@ES]{CLjGv4#usDL]#'
    LOGGED_IN_SALT: '_q:}45:HWR|3FN^CmAh[Q,f|Z/?eS=k6O=+sKpN11+^qS7^K<C-m&ieX:_#+ H+E'
    NONCE_SALT: '5$E|/+|O*O}_+:OlOJ<j$WK;FctN4?0n/vA2[B`MM|{2KDZ>?fH#B,W2O*-fBMS2'
    EFS_NAME: ''